# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Virtual env
.venv/
venv/

# Environment files
.env
.env.*
!.env.example

# Local database files
*.db
*.sqlite
*.sqlite3

# macOS
.DS_Store

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Alembic / misc
*.log

# Docker
*.tar

# Terraform plan files
*.tfplan
tfplan
